<article>
  <h1> <%= @article.title %> 
    <small>
      <%= link_to edit_article_path do %>
        <i class="fas fa-pen" aria-hidden='true'></i>
      <% end %>
      <%= link_to article_path(@article), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="far fa-trash-alt" aria-hidden='true'></i>
      <% end %>
    </small>
  </h1>
  <hr>
  <pre>
    <code>
    <%= @article.content %>
    </code>
  </pre>
</article>